* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Play', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
}

body {
    background-color: black;
}

.topnav {
    background-color: black;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 16.66666666666667%;
}

a {
    width: 16.66666666666667%;
}

.topnav a {
    background-color: black;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #111;
    color: white;
}

.topnav a.active {
    background-color: #006738;
    color: white;
}

.topnav .icon {
    display: none;
}

.imglogo {
    width: 10%;
}

.imgicon {
    width: 85%;
}

.imgtxt {
    width: 50%;
}

.imgphoto {
    width: 25%;
}

.imgyt {
    width: 25%;
}

.imgfb {
    width: 17.5%;
}

#txt {
    padding-right: 68px;
    padding-left: 68px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    position: relative;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 2%;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
.accordion.active, .accordion:hover {
    background-color: black;
    color: #006738;
}
  
.panel {
    padding: 0;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\002B';
    font-size: 2.5vw;
    color: white;
    float: center;
    margin-left: 2.5vw;
  }
  
  .accordion.active:after {
    content: "\002D";
    color: #006738;
  }