* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Play', sans-serif;
    color: white;
}

body {
    background-color: black;
}

.topnav {
    /*background-color: #006837;*/
    background-color: black;
    overflow: hidden;
    /*position: fixed;*/
    top: 0;
    width: 100%;
}

.topnav a {
    background-color: black;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: #006738;
}

.topnav a.active {
    background-color: #006738;
    color: white;
}

.topnav .icon {
    display: none;
}

.imglogo {
    width: 17.5%;
}

.imgtxt {
    width: 75%;
}

.imgphoto {
    width: 25%;
}

.imgyt {
    width: 25%;
}

#txt {
    padding-right: 68px;
    padding-left: 68px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    position: relative;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
